
.type{
    width: 100%;
    align-content: center;
    background-color: #000000;
    text-align: center;
    font-family: "Roboto Slab ExtraLight";
}

.Cards{
    background-color: #000000;
    align-items: center;
    align-self: center;
    align-content: center;
    position: center;
    child-align: middle;
}
.page-footer{
    background-color: #000000;
}
.footer-copyright{
    color:white;
    background-color: #000000;
}
.greet{
    text-align: center;
    background-color: #000000;
    color: rgb(229 9 20);
    padding: 5px;
}
